[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "/home/omar/dev/side/sol-temple/lib/openzeppelin-contracts"]
	path = /home/omar/dev/side/sol-temple/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
